<!-- <div class="flex">
<div class="half">
  <div class="container">
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<div class="half">
  <div class="container"> -->
    <%= f.input :organisation %>

    <%= f.input :services,
      label: "Service(s) you’re interested in providing: *<p><i>Check all that apply</i></p>".html_safe,
      collection: [
      'Architectural design',
      'CNC fabrication',
      'Building / contracting services',
      'Project management',
      'Delivery of parts', 'Engineering', 'Insurance', 'Lending', 'Technologies', 'Other'],
      as: :check_boxes %>

    <!-- Message received, thankyou. One of the team will get in contact with you as soon as possible. -->
<!--   </div>
</div>
</div>
 -->
