<%= f.input :organisation, required: true %>
<%= f.input :role, required: true %>
<%= f.input :description, as: :text, wrapper: :default, label: "Your Enquiry", required: true %>

<div class="thanks" id="thank-you">
  <div class="container">
    <h1>Thank you.</h1>
    <p>Message received, thank you. One of the team will get in contact with you as soon as possible.</p>
  </div>
</div>
