<p class="enquiry-desc">If we are recruiting, we will advertise for specific roles. However, if you believe you have a particular talent you would like to bring, you can always send us your CV here.</p>

<%= f.input :organisation, required: true %>
<%= f.input :role, required: true %>
<%= f.input :description, as: :text, wrapper: :default %>

<%#= f.input :cv %>

<!-- (Opportunity to attach CV if not too difficult) -->
<div class="thanks" id="thank-you">
  <div class="container">
    <h1>Thank you.</h1>
    <p>Message received, thank you.</p>
  </div>
</div>
