<p>If we are recruiting, we will advertise for specific roles. However, if you believe you have a particular talent you would like to bring, you can always send us your CV here.</p>

<%= f.input :name, autofocus: true %>

<%= f.input :email %>

<%= f.input :description, as: :text %>

<%#= f.input :cv %>

(Opportunity to attach CV if not too difficult)
