<p class="enquiry-desc">If your message doesn’t fit into any of the other categories, do just drop us a message.</p>

<%= f.input :message, as: :text, wrapper: :default %>

<div class="thanks">
  <div class="container">
    <h1>Thank you.</h1>
    <p>Message received, thank you.</p>
  </div>
</div>
