<p class="enquiry-desc">We receive lots of requests from students  and researchers around the world for interviews and information. Sadly, as a small non-profit, we’re not always able to respond to as many as we’d like. Please make your request as specific as possible. You may also consider getting together a group of friends and lobbying your institution to organise a speaking event / workshop.</p>

<%= f.input :organisation, label: "School/College/University", required: true %>
<%= f.input :role, required: true, input_html: { value: "Student" }, as: :hidden %>

<%= f.input :message, as: :text, wrapper: :default %>

<div class="thanks" id="thank-you">
  <div class="container">
    <h1>Thank you.</h1>
    <p>Message received, thank you.</p>
  </div>
</div>
