<% content_for :header do %>
  <div class="container">
    <div class="top-description">
      <h1>
        <% title @node.title %>
        <%= breadcrumbs %>
      </h1>
    </div>
  </div>
<% end %>
