<%= render "nodes/library_header" %>

<div class="header-preview"><div class="container"><%= image_tag @library_item.image_url %></div></div>

<%= render "nodes/library_repo", repo: @library_item.repo, license: @library_item.license %>
