<% content_for :header do %>
  <div class="container">
    <h1><%= link_to "Library", library_path %> / <%= link_to "Types", things_path %> / Microhouse</h1>
  </div>
<% end %>

<div class="container">
<%= title "Microhouse" %>
</div>
