<% content_for :header do %>
  <div class="about-description">
    <div class="container">
      <div class="top-description">
        <%= title "About WikiHouse Foundation" %>
        <p>WikiHouse Foundation is a non-profit open technology foundation, based in the UK. Our purpose is to allow companies, organisations and governments to work together to develop new open technologies, standards and common infrastrucutres for housing and sustainable development.</p>

        <p>WikiHouse Foundation was formed in 2014. In 2016, we formed WikiHouse Infrastructures, a wholly-owed subsidiary tasked with the development of digital supply chain infrastructures.</p>
      </div>
    </div>
  </div>
<% end %>

<div id="about-diagram">
  <div class="container">
    <%= image_tag "clock.svg", style: 'width: 60%; margin: 20px auto;' %>
  </div>
</div>

<div class="team-container">
  <div class="team">
  <!-- <div class="container"> -->
    <h2>Team</h2>
    <% team_members = ["Alastair Parvin", "Harry Knight", "Clayton Prest", "Nikee Virdee", "John"] %>
    <% 6.times.map{ Faker::Name.name }.collect.each do |team_member| %>
      <div class="team-member">
        <div class="photo"></div>
        <div class="description">
          <span class="name"><%= team_member %></span>
          <span class="role">role</span>
          <p>A description of that person</p>
        </div>
      </div>
    <% end %>
  <!-- </div> -->
  </div>
</div>
