<% title "Donate" %>
<% content_for :header do %>
  <div id="partners-holder">
  <%= simple_form_for Donation.new do |f| %>
  <div class="container top">
    <h1>We work for you</h1>
    <div class="we-work-for-you flex">
      <div class="description half">
        <div class="container" style="padding-left: 0">
          <p>WikiHouse Foundation is a small non-profit with a huge mission: to put the knowledge and tools to build sustainable, low-cost homes into commons where they are freely accessible to anyone, and owned by everyone.</p>
          <p>To do that, we need your support.</p>
          <p>Please help us to keep working for the common good by making a one-off donation, or making a small monthly stipend.</p>
        </div>
      </div>
      <div class="form half">
        <div class="container">
          <%#= render "donations/widget", f: f %>
          <%= render "donations/donorbox" %>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="donate-button">Donate</div> -->
  <%#= f.submit "Donate", class: "donate-button" %>
  <% end %>
  </div>
<% end %>

  <div id="about-points">
    <div class="container top">
    <h4 class='mono'>Supporters</h4>

    <% @names.each do |name| %>
      <div class="supporter"><%= name %></div>
    <% end %>
    </div>
  </div>
