<% title "Donate" %>

<% content_for :header do %>
  <div id="partners-holder">
    <div class="we-work-for-you">
      <div class="top-description">
        <h1>We work for you</h1>
        <p>WikiHouse Foundation is a small non-profit with a huge mission: to put the knowledge and tools to build sustainable, low-cost homes into commons where they are freely accessible to anyone, and owned by everyone.</p>
        <p>To do that, we need your support.</p>
        <p>Please help us to keep working for the common good by making a one-off donation, or making a small monthly stipend.</p>
      </div>
      <div class="form">
        <%= render "donations/donorbox" %>
      </div>
    </div>
  </div>
<% end %>
