<% content_for :header do %>
  <div class="description-container">
    <div class="top-description">
      <% title "Jobs" %>
      <h1>Current Roles</h1>
      <% meta_description "We’re on the lookout for a new team member." %>
      <p>We’re on the lookout for a new team member who has some or all of the following skills.</p>
    </div>
  </div>
<% end %>


<div id="jobs" class="container">
  <div class="job-container">
    <%= markdown( File.open('app/views/jobs/upcoming/javascript_developer.md').read ) %>
  </div>
</div>
