<% content_for :header do %>
  <div class="description-container">
    <div class="top-description">
      <%= title "Jobs" %>
    </div>
  </div>
<% end %>


<div id="jobs" class="container">
<div class="job-container">

  <%# Also edit console.log comment in application.js if editing this file %>
  <h1>Buildx Sprint, July 2017</h1>
  <h2>Who are we?</h2>

  <p>WikiHouse Foundation is a non-profit startup with a mission to put the capability to build sustainable, low-cost homes into the hands of every citizen, community and business.</p>
  <p>Over the last year we have been working on Buildx, a ‘smart supply chain’ platform which uses web-based parametric design to digitise and transform the whole way we design, cost, manufacture and assemble buildings. But, in order to get it to an MVP stage, we need some help.</p>

  <h2>What are we doing?</h2>
  <p>We are bringing together a small dream team of developers and designers for a one week hackathon-style sprint from <u>Monday 17 – Friday 21 July 2017</u>. A stipend of £250 per day is offered to cover your costs, and the sprint will be held at a lovely to-be-confirmed (hopefully live-in) London location, with food and drink provided. (We’re thinking of it as a kind of digital barn-raising)</p>

  <h2>Who are we looking for?</h2>

  <p>In this sprint we’re primarily hoping to work on our browser-based building design tools, so the Technical Skills we’re looking to have in the room are, in order of importance:</p>
  <ul>
    <li>Great working knowledge of Javascript - Familiar with React, Redux, Webpack</li>
    <li>Comfortable collaborating on projects with git</li>
    <li>Some experience working with WebGL/Three.js or similar (A-Frame, BabylonJS, Unity etc)</li>
    <li>Any history of working with CAD software</li>
    <li>Some Ruby on Rails experience would be helpful but but not essential</li>
  </ul>

  <p>Beyond technical wizardry, we are of course looking for practical, collaborative, can-do people who are good company, are not daunted by complexity, and enjoy intense rapid, agile, sprints working on things that matter.</p>

  <h2>How to apply</h2>

  <p>To let us know you're able and interested in joining us, please email John Rees <a href="mailto:john@wikihouse.cc?subject=Sprint Application">john@wikihouse.cc</a> briefly describing:</p>
  <ul>
    <li>The skills you can offer, and links to any relevant work</li>
    <li>Why you’d like to take part in the group sprint</li>
    <li>Confirmation that you're able to commit to the full 5 days</li>
  </ul>

  <p>Please note, you must have the right to work in the UK. You will not be an employee of WikiHouse Foundation but will receive a stipend for participating.</p>

</div>
</div>
