<% content_for :header do %>
  <div class="description-container">
    <div class="top-description">
      <%= title "Jobs" %>
    </div>
  </div>
<% end %>


<div id="jobs" class="container">
<div class="job-container">

  <p>We currently have no open positions.</p>

</div>
</div>
