<div class="hero">
  <div class="container">
    <h2>The future of homes. By everyone, for everyone.</h2>
    <p>Simple, sustainable, open building technologies.</p>
  </div>
</div>

<%= render "application/slider" %>

<div id="preview"></div>

<div class="flex">
  <div class="half propose">
    <h4>Propose a pilot project</h4>
    The first WikiHouse technologies are in BETA stage and are being used in pilot projects. If you'd like your project to be one of them, please tell us about it here.
  </div>
  <div class="half stats">
    30 active teams
  </div>
</div>
