<% title "Partners" %>
<% content_for :header do %>
<div class="container">
  <div class="top-description">
    <h1>We work for you</h1>
    <p>WikiHouse Foundation is not backed by venture capital. It’s a small non-profit with a huge mission: to put the knowledge and tools to build low-cost, sustainable homes into commons where they are freely accessible to anyone, and owned by everyone.</p>
    <p>We need your support to achieve that.</p>
    <p>Please help us to keep working for the common good by making a one-off donation, or making a small monthly stipend.</p>

    <p style="text-align: right"><strong>Alastair Parvin</strong>, Co-founder</p>
  </div>
</div>
<% end %>

<div class="container">
  <h2>Supporters</h2>

  <% 100.times do %>
  <div class="supporter"><%= Faker::Name.name %></div>
  <% end %>
</div>
