<% content_for :header do %>
  <div class="container">
    <div class="top-description"><h1><%= link_to "Library", library_path %> / Technologies</h1></div>
  </div>
<% end %>
<div id="products-container">
<div class="container">
  <% JSON.parse(open('data/products.json').read).each_with_index do |item, index| %>
    <div class="product" style="background-color: <%= item['color'] %>">
      <span class="count">0</span>
      <%= image_tag "icons/Asset #{index + 7}.svg", class: 'products-icon' %>
      <%= item['name'] %>
    </div>
  <% end %>
</div>
</div>
