.top-description {
  @include span-columns(7);
}
.replaced-svg circle {
  fill: black;
}
#about-points {
  @include outer-container;

  h4,h5 {
    color: #000;
  }
  h5 {
    font-weight: bold;
  }


}

.our-mission {
  background: #FFF;
  h4 {
    font-family: $mono;
  }

  ol {
    counter-reset:li;
    margin-left: 0;
    padding-left: 0;
    list-style:none;

    @include span-columns(7);
  }
  ol > li:before {
    content:counter(li);
    counter-increment:li;
    color: #8E8E8E;
    padding-right: 1em;
    font-weight: bold;
  }
  ol > li {
    margin-bottom: 1em;
  }
}

.accordion-title {
  font-family: $mono;
  border-bottom: 1px solid black;
  padding: 20px 0;
}

.inner {
  display: flex;
}

.about-point {
  @include span-columns(5);
  &:nth-child(even) {
    // @include omega();
    clear: both;
  }
  // width: 49%;
  // display: inline-block;
  // vertical-align: top;
  // overflow: hidden;
  // display: flex;
  // margin-bottom: 2em;
  margin: 0 0 2em 0;
  h5 {
    font-size: 1.1em;
    margin: 0;
  }
  p {
    margin-top: 0;
  }
  .icon {
    width: 100px;
    margin-right: 10px;
  }
  .description {
    flex: 1;
    float: left;
  }
}
