.top-description {
  h1 {
    margin-top: 1em;
    font-size: 2.3em;
    &, * {
      font-weight: 400;
    }
  }
  p {
    font-size: 1.2em;
    line-height: 1.4;
  }
  width: 100%;
  @media screen and (min-width: $break-small) {
    @include span-columns(8);
  }
  @media screen and (min-width: $break-medium) {
    @include span-columns(6);
  }

}

.replaced-svg circle {
  fill: black;
}
#about-points {
  @include outer-container;
  font-size: 0.9em;
  h4 {
    margin-top: 4em;
    margin-bottom: 4em;
  }
  h4,h5 {
    color: #000;
  }
}

.mono {
  font-family: $mono;
  margin-bottom: 3em;
}

.our-mission {
  background: #FFF;
  padding-bottom: 30px;
  h4 {
    margin-top: 2.5em;
    margin-bottom: 1em;
    font-family: $mono;
  }
  ol {
    counter-reset:li;
    margin-left: 0;
    padding-left: 0;
    list-style:none;
    font-size: 1.2em;
    line-height: 1.4;

    @include span-columns(7);
  }
  ol > li:before {
    content:counter(li);
    counter-increment:li;
    color: #8E8E8E;
    padding-right: .7em;
    font-weight: normal;
  }
  ol > li {
    margin-bottom: 1em;
  }
}



.about-point {


  overflow: hidden;

    .icon {
      text-align: center;
      width: 50%;
      margin-bottom: 20px;
    }


  @media screen and (min-width: $break-medium) {
    @include span-columns(5);
    margin-right: 0;

    .inner {
      display: flex;
    }
    .icon {
      width: 100px;
      margin-right: 20px;
    }

  }
  &:nth-child(even) {
    // @include omega();
    clear: both;
  }
  // width: 49%;
  // display: inline-block;
  // vertical-align: top;
  // overflow: hidden;
  // display: flex;
  // margin-bottom: 2em;
  margin: 0 0 2em 0;
  padding-right: 10px;
  padding-left: 10px;
  h5 {
    font-size: 1.1em;
    margin: 0;
  }
  p {
    margin-top: 0;
  }
  .description {
    flex: 1;
    float: left;
  }
}



.togglebox {
  & > a {
    color: #000;
  }
  // Visually hide radio buttons
  input[type="radio"] {
    position: absolute;
    opacity: 0;

    &:focus + label {
      color: black;
      // background-color: wheat;
    }
  }

  // Style label/entry for accordion
  label {
    position: relative;
    display: block;
    cursor: pointer;
    // .accordion-title {
    font-family: $mono;
    border-top: 1px solid #8E8E8E;
    padding: 20px;
// }
  span {
    background: image_url('icons/rightarrow.png') center right no-repeat; display: block;
  }

  }
  label[for='toggle1'] {
    border: none;
  }

  // Style accordion content
  section {
    height: 0;
    transition: .3s all;
    overflow: hidden;
    background: #FFF;
  }

  // Open content when clicking label
  #toggle1:checked ~ #content1,
  #toggle2:checked ~ #content2,
  #toggle3:checked ~ #content3,
  #toggle4:checked ~ #content4 {
    // set height for transition duration to work
    // (also can set to auto without transition)
    height: auto;
  }
}

#faq {
  h2 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 1em;
  }
}
