#community-map {
  background: #E0F3F8;
  height: 600px;
}

a.bottom-link {
  padding-bottom: 1.5em;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-family: $mono;
  text-transform: uppercase;
  background: no-repeat top right url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAQAAABuQZ3IAAAAi0lEQVR4AU3OISBEQQBAwS0AACS9NxqQgCZpkiYBVddFvWhAAUABAPQCAGC4g/0vTnrBqCfDIZl70J+kMUBPpEwT4FNXxBxz4F1HxHyr4EVTxBLb4EFNxEon4CJSlVNw9AcV9sC16h8osgke1P1ArgXwouVvdQq86ww/GQefusNf7kBviBlxpT8k+gL/Wox4r1d4MwAAAABJRU5ErkJggg==");
}

.connect {
  background: #2D2D2D;
  &, a {
    color: #FFF;
  }
}

.wren {
  background: #C5FF5B;
  a.bottom-link {
    color: #000;
  }
}

.open-challenges {
  background: #5B8E8E;
  &, h4 {
    color: #000;
  }
  ol {
    counter-reset:li;
    margin-left: 0;
    padding-left: 0;
    list-style:none;
  }
  ol > li:before {
    content:counter(li);
    counter-increment:li;
    font-size: 1em;
    padding-right: 1em;
    font-weight: bold;
    float: left;
  }
  ol > li {
    margin-bottom: 1em;
  }
  a.bottom-link {
    color: #000;
  }
}

.news {
  position: relative;
  a {
    color: #FFF;
  }
}
