.bottom-link {
  padding-top: 2em;
  display: block;
  width: 100%;
  padding-right: 30px;
  font-family: $mono;
  line-height: 32px;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-image: image_url('icons/ic_arrow_forward_white_24dp_2x.png');
  background-size: 32px;
  &.launch {
    background-image: image_url('icons/ic_launch_white_2x.png');
  }
  &.dark {
    background-image: image_url('icons/ic_arrow_forward_black_24dp_2x.png');
  }
}

body.n-community_page {

  #main {
    background: #2d2d2d;
  }

  #community-map {
    background: #E0F3F8;
    height: 370px;
    @media screen and (min-width: $break-medium) {
      height: 500px;
    }
  }

  .open-challenges {
    background: #5B8E8E;
    &, h4 {
      color: #000;
    }
    .description {
      padding-left: 40px;
    }
    h4 {
      font-weight: bold;
      margin: 0 0 0.5em 0;
      font-size: 1.25em;
      line-height: 1.4;
    }
    p {
      margin: 0;
    }
    ol {
      counter-reset:li;
      margin-left: 0;
      padding-left: 0;
      list-style:none;
    }
    ol > li:before {
      position: absolute;
      margin-top: -8px;
      content:counter(li);
      counter-increment:li;
      font-size: 3em;
      font-weight: 400;
      float: left;
    }
    ol > li {
      margin-bottom: 2em;
    }
    .bottom-link {
      color: #000;
    }
  }

  .news {
    position: relative;
    background-position: center center;

    h2, a {
      color: #FFF;
    }
  }

}
