input.green {
  background: #E1FF9C;
  border: none;
  padding: 10px;
  display: block;
  width: 100%;
}

.donate-button {
  background: #C5FF5B;
  padding: 20px;
  text-align: center;
  color: #000;
}


.supporter {
  padding: 1em;
  display: inline-block;
}
