.we-work-for-you {
  @include outer-container();
  .description, .form {
    @include span-columns(5);
  }
}

input.green {
  background: #E1FF9C;
  border: none;
  padding: 10px;
  display: block;
  width: 100%;
}

.donate-button {
  background: #C5FF5B;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
  color: #000;
}

.supporter {
  padding: 1em;
  display: inline-block;
}

label.amount {
  display: inline-block;
  width: 24%;
  padding: 10px;
  &.selected {
    background: yellow;
  }
}
