body.c-enquiries {

  .enquiry-form {
    @include fill-parent;
    @media screen and (min-width: $break-small) {
      @include span-columns(10);
    }
    @media screen and (min-width: $break-medium) {
      @include span-columns(8);
    }
  }

  #enquiries-header .mui-btn--primary {
    background: #FFF;
    color: #111;
    text-transform: none;
    font-size: 1em;
    *, & {
      font-family: $roboto;
      font-weight: 400;
    }
    &.mui-btn {
      margin-top: 3px;
      padding: 0 16px;
    }
  }

  .input.country {
    label {
      padding-right: 10px;
    }
  }
  
  .enquiry_first_name {
    margin-top: 50px;
  }

  .input.date label,
  .input.select label,
  .input.boolean input {
    margin-right: 20px;
  }

  
  .enquiry_data_has_planning,
  .enquiry_data_has_mortgage,
  .enquiry_data_anything_else,
  .enquiry_data_description {
    label {
      display: block;
      clear: both;
      width: auto;
      margin-bottom: 1em;
    }
  }


  #main {
    background: #2d2d2d;
    h1 {
      margin: 2em 0 1em;
    }
  }
  h3 {
    color: #FFF;
    margin-bottom: 50px;
  }
    

  form.new_enquiry {
    -webkit-font-smoothing: antialiased;
  }

  #enquiries-holder {
    display: inline;
  }

  #enquiries-header {
    line-height: 3;
    margin-top: 1em;
  }

  .enquiry-desc {
    padding: 1em 0 0;
    width: 100%;
    clear: both;
    float: none !important;
  }

  #enquiries-container {
    position: relative;
    background: #2D2D2D;
    color: #FFF;
    flex: 1;
    p {
      -webkit-font-smoothing: antialiased;
    }
    a {
      color: #FFF;
      text-decoration: underline;
    }
  }

  ul#enquiries-options {
    position: absolute;
    margin: 0 0 0 1em;
    padding: 0;
    display: inline;
    &, li {
      list-style: none;
    }
    &:hover a {
      display: block;
    }
    &:hover li {
      background: #FFF;
    }
    li {
      background: #F0F0F0;
      display: block;
      color: #000;
      padding: 0 1em;
      &:hover { background: #666; }
      a {
        display: none;
        color: #CCC;
      }
    }
  }

}
