body.c-enquiries {
  background: #2d2d2d;
}
form.new_enquiry {
  -webkit-font-smoothing: antialiased;
}

#enquiries-holder {
  display: inline;
}

#enquiries-header {
  line-height: 3;
  margin-top: 1em;
}

#enquiries-container {
  position: relative;
  background: #2D2D2D;
  color: #FFF;
  flex: 1;
  p {
    -webkit-font-smoothing: antialiased;
  }
}

ul#enquiries-options {
  position: absolute;
  margin: 0 0 0 1em;
  padding: 0;
  display: inline;
  &, li {
    list-style: none;
  }
  &:hover a {
    display: block;
  }
  &:hover li {
    background: #FFF;
  }
  li {
    background: #F0F0F0;
    display: block;
    color: #000;
    padding: 0 1em;
    &:hover { background: #666; }
    a {
      display: none;
      color: #CCC;
    }
  }
}
