footer {
  overflow: hidden;
  font-size: 0.9em;
  background: #333333;
  color: #FFF;
  height: 300px;
  padding: 20px 0;

  ul#footer-list {
    &, li {
      margin: 0;
      list-style: none;
      padding: 0;
    }
    li {
      line-height: 1.6;
    }
  }

  ul {
    margin-top: 1em;
  }

  ul#social-icons {
    &, li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      display: inline-block;
      a {
        transition: all 0.5s;
        color: #ddd;
      }
      a:hover {
        color: #FFF;
      }
    }
  }

  .fa-stack-1x {
    color: #333333;
  }

}

.footer-nav {
  @include span-columns(5);
}
.social-icons-holder {
  @include span-columns(5);
  text-align: right;
}


#media-links {
  height: 300px;
  overflow: hidden;
  background: #F2F2F2;
}

#partners-logos {
  height: 300px;
  background: #FFF;
}
