.mui-select:focus > label, .mui-select > select:focus ~ label {
  color: #FFF;
}
.mui-select__menu {
  color: #000;
}

textarea {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  min-height: 80px;
  background: none;
  color: #FFF;
  border: none;
  border-bottom:1px solid #757575;
  border-right:1px solid #757575;
  &:focus {
    outline: none;
    border-bottom: 2px solid #FFF;
    border-right: none;
  }
}

form.new_enquiry {
  label {
    width: auto;
  }
}

label {
  cursor: pointer;
  color: #AAA;
}

span.checkbox,
span.radio {
  label {
    color: #FFF;
    display: inline-block;
    padding-left: 10px;
  }
  input {
    margin-right: 10px;
  }
}

form.new_enquiry {
  padding-top: 50px;
  input[type=submit] {
    margin-top: 30px;
  }
  label {
    // width: auto;
  }
  .input.text {
    label {
      display: block;
      margin-bottom: 1em;
    }
  }
  .group.string, .group.email { 
    position:relative; 
    margin-bottom:45px; 
    
    input         {
      font-size:18px;
      padding:10px 10px 10px 5px;
      display:block;
      max-width:350px;
      width: 100%;
      border:none;
      border-bottom:1px solid #757575;
      background: none;
      color: #FFF;
    }
    input:focus     { outline:none; }
    label          {
      color:#999; 
      font-size:18px;
      font-weight:normal;
      position:absolute;
      pointer-events:none;
      left:5px;
      top:2px;
      transition:0.2s ease all; 
    }

    /* active state */
    input:focus ~ label,
    input:placeholder-shown ~ label,
    input:valid ~ label
    {
      top:-20px;
      font-size:14px;
      color: white;
    }

    .bar  { position:relative; display:block; max-width:350px;
      width: 100%; }
    .bar:before, .bar:after   {
      content:'';
      height:2px; 
      width:0;
      bottom:1px; 
      position:absolute;
      background:white; 
      transition:0.2s ease all; 
    }
    .bar:before {
      left:50%;
    }
    .bar:after {
      right:50%; 
    }

    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after {
      width:50%;
    }
    .highlight {
      position:absolute;
      height:60%; 
      max-width:350px;
      width: 100%;
      top:25%; 
      left:0;
      pointer-events:none;
      opacity:0.1;
    }

    input:focus ~ .highlight {
      animation:inputHighlighter 0.3s ease;
    }

    @keyframes inputHighlighter {
      from  { background:white; }
      to    { width:0; background:transparent; }
    }
  }
}



form {
  margin-bottom: 2em;
  label {
    display: inline-block;
    width: 200px;
  }
  .input {
    margin-bottom: 3em;
    font-size: 1.2em;
  }
}

textarea {
  padding: 5px;
}


// .input.text {
//   label {6px;
//     display: block;
//     width: 100%;
//   }
//   textarea {
//     width: 100%;
//   }
// }

.input.check_boxes {
  > label {
    display: block;
    width: 100%;
  }
  span.checkbox {
    padding: 0.5em;
    display: block;

    &, * {
      vertical-align: top;
    }
    
    @media screen and (min-width: $break-medium) {
      display: inline-block;
      width: 50%;
    }
    // @media screen and (min-width: $break-large) {
    //   width: 33%;
    // }

    input {
      margin-top: 5px;
    }
    label {
      padding-left: 10px;
    }
  }
}

.input label {
  font-weight: normal;
}

input[type=submit] {
  border-radius: 2px;
  font-size: 14px;
  line-height: 36px;
  padding: 0 16px !important;
  border: none;
  background: white;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}








// /* ==========  Select Field Variables ========== */
// $color-black: "0,0,0";
// $select-background-color: transparent;
// $select-border-color: unquote("rgba(#{$color-black}, 0.12)") !default;
// $select-font-size: 16px;
// $select-color: unquote("rgba(#{$color-black}, 0.26)") !default;
// $select-padding: 4px;

// /* Style Select Field */
// .input select {
//   font-family: inherit;
//   background-color: transparent;
//   width: 100%;
//   padding: $select-padding 0;
//   font-size: $select-font-size;
//   color: $select-color;
//   border: none;
//   border-bottom: 1px solid $select-border-color;
// }

// /* Remove focus */
// .input select:focus {
//   outline: none}

// /* Hide label */
// .mdl-selectfield label {display: none;}
// /* Use custom arrow */
// .mdl-selectfield select {appearance: none}
// .mdl-selectfield {
//   font-family: 'Roboto','Helvetica','Arial',sans-serif;
//   position: relative;
//     &:after {
//         position: absolute;
//         top: 0.75em;
//         right: 0.5em;
//         /* Styling the down arrow */
//         width: 0;
//         height: 0;
//         padding: 0;
//         content: '';
//         border-left: .25em solid transparent;
//         border-right: .25em solid transparent;
//         border-top: .375em solid $select-border-color;
//         pointer-events: none;
//     }
// }