form {
  margin-bottom: 2em;
  label {
    display: inline-block;
    width: 200px;
  }
  .input {
    margin-bottom: 1em;
  }
}

textarea {
  padding: 5px;
}

.input.text {
  label {
    display: block;
    width: 100%;
  }
  textarea {
    width: 100%;
  }
}

.input.check_boxes {
  > label {
    display: block;
    width: 100%;
  }
  span.checkbox {
    &, * {
      vertical-align: top;
    }
    padding: 1em;
    display: inline-block;
    width: 50%;
    input {
      margin-top: 5px;
    }
    label {
      padding-left: 10px;
    }
  }
}

form {
  width: 100%;
}

.input label {
  font-weight: normal;
}
