@import "neat-helpers";

// Change the grid settings
$column: 119px;
$gutter: 25px;
$grid-columns: 10;
// $max-width: 1080px;
$max-width: 1440px;

// Define your breakpoints
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);
