@import "neat-helpers";

// Change the grid settings
$column: 70px;
$gutter: 20px;
$grid-columns: 12;
// $max-width: 1080px;
$max-width: 1080px;

// Define your breakpoints
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);
