#sub-header {
  background: white;
  // overflow: hidden;
  position: relative;
  padding: 1em 0 2em 0;
  transition: all 10s;

  // transform: scaleY(0);
  // transform: scaleY(1);
  // transform-origin: top;
  max-height: 100%;
  transition: all 0.26s ease;
}


header {
  a {
    color: #000;
  }
}

.drop-shadow {
  box-shadow: 0px 10px 20px 1px rgba(0,0,0,0.2);
}

header#main-header {
  height: $headerHeight;
  // transition: height 0.1s;
  z-index: 2000;
  // padding-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // overflow: hidden;
  background: #FFF;

  // box-shadow: 0px 10px 20px 1px rgba(255,255,255,1);

  &.scrolled {
    box-shadow: 0px 10px 20px 1px rgba(0,0,0,0.2);
  }

  @include fill-parent;

  #logo {
    margin: 10px 0 0 -20px;
    height: 45px;
    text-align: left;
  }

  .ink {
    display: block;
    position: absolute;
    background: rgba(0,0,0,0.1);
    border-radius: 100%;
    transform: scale(0);
    z-index: 10000;
  }
  /*animation effect*/
  .ink.animate {animation: ripple 0.5s linear;}
  @keyframes ripple {
    /*scale the element to 250% to safely cover the entire link and fade it out*/
    100% {opacity: 0; transform: scale(2);}
  }

  .container {
    position: relative;
  }

  li {
    text-transform: uppercase;
  }
  a {
    color: #000;
  }
  a#toggleMenu {
    border: none !important;
    // font-size: 1.2em;
  }
  ul {
    font-family: $mono;
    margin: 0 auto;
    li {
      list-style-type: none;
      position: relative;
      // overflow: hidden;
      display: inline-block;
      a {
        line-height: $headerHeight - 2;
        display: block;
        padding: 0 20px;
        text-decoration: none;
        cursor: pointer; /*since the links are dummy without href values*/
        /*prevent text selection*/
        user-select: none;
        /*static positioned elements appear behind absolutely positioned siblings(.ink in this case) hence we will make the links relatively positioned to bring them above .ink*/
        position: relative;
        border-bottom: 2px solid #FFF;
        transition: all 0.4s;
        font-weight: bold;
        &:hover {
          color: #AAA;
          border-color: #CCC;
        }
        &.active {
          border-color: #000;
          &:hover {
            color: #000;
          }
        }
      }
    }
  }

  #main-menu {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
    li {
      font-size: 16px;
    }
  }

}
