body.a-jobs {
  #main {
    background: #fff;
  }
  #jobs {
    padding-top: 30px !important;
    padding-bottom: 100px !important;

    h3 {
      color: #000;
    }

    a {
      color: #666;
      transition: color 0.3s linear;
      &:hover {
        color: #000;
      }
    }

  }
}
.job-container {
  @include fill-parent;
  @media screen and (min-width: $break-small) {
    @include span-columns(11);
  }
  @media screen and (min-width: $break-medium) {
    @include span-columns(8);
  }
}
