.hero {
  height: 500px;
  color: #FFF;
  background: image-url('slide1.jpg') bottom center;
  background-size: cover;
  overflow: hidden;
  h2 {
    font-family: "Roboto Mono";
  }
}

.stats {
  background: #6699CC;
  color: #FFF;
  font-family: "Roboto Mono";
  .count {
    font-size: 4em;
  }
}

.propose {
  h3 {
    font-family: "Roboto Mono";
    font-size: 2em;
  }
}

#slider {
  @include fill-parent;
  background: #F0F0F0;
  height: 500px;
  width: 100%;
  h2 {
    font-family: "Roboto Mono";
  }
  li {
    background-size: cover;
  }
  img {
    height: 100%;
  }

  .slide-container {
    display: flex;
    align-items: center;
    height: 500px;
    img {
      height: 600px;
      margin-right: 20px;
    }
  }
}

#preview {
  height: 500px;
  background: #FFF;
  padding: 40px 0;
}
