.stats {
  color: #FFF;
  font-family: $mono;
  .count {
    font-size: 4em;
  }
  &, .container {
    background: #6699CC;
  }
}

.propose {
  color: #FFF;
  &, .container {
    background: #2D2D2D;
  }
}

.sleep-video {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
}

.fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  background-color: transparent !important;
  // @include linear-gradient(
  //   to top,
  //   rgba(#717171, 0.2) 0%,
  //   rgba(#717171, 0.1) 50%,
  //   rgba(#717171, 0) 100%
  // );
  // background: image-url('fade@2x.png') bottom left no-repeat;
  // background-size: cover;
  @include linear-gradient(
    to top,
    rgba(#000, 0.3) 0%,
    rgba(#000, 0) 40%,
    rgba(#000, 0) 100%
  );
}

video {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#hero-holder {
  .unslider-nav {
    display: none;
  }
  .unslider-arrow {
    background-image: image-url('icons/ic_arrow_forward_white_24dp_2x.png');
  }
  .slider {
    padding: 0;
  }

  &.propose-slider {
    .typed {
      // margin-top: 10px;
    }
    .small {
      font-size: 1em;
    }
  }
}

.hero {
  height: 500px;
  color: #FFF;
  overflow: hidden;
  position: relative;


  li {
    background-size: cover;
    background-color: #232323;
    background-position: 20% 25px;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-attachment: initial;
  }

  .container {
    // @include vertical-center();
    position: relative !important;
    z-index: 101;
  }
  .typed {
    display: block;
    font-weight: 300;
  }

  .white-button {
    display: inline-block;
    background: #FFF;
    color: #717171;
    text-transform: uppercase;
    line-height: 50px;
    padding: 0 50px;
    font-family: $mono;
    margin: 1.7em 0;
    max-width: 100%;

    box-shadow: 2px 4px 32px 2px rgba(#717171,0.4);
  }

  .typed, p {
    text-shadow: 2px 2px 16px rgba(#717171, 0.4);
  }

  .typed, .typed-cursor {
    font-family: $mono;
    font-size: 2.7em;
    line-height: 1.3;
    // margin-top: 1.5em;
    // display: block;
  }
  p {
    font-size: 1em;
  }
  video.loop {
    width: 100%;
    // position: absolute;
    // bottom: 0;
  }
}

.propose {
  p {
    -webkit-font-smoothing: antialiased;
  }
  a {
    color: #FFF;
    display: block;
    font-family: $mono;
    margin-top: 2em;
  }
  h3 {
    font-family: $mono;
    font-size: 2em;
    color: #FFF;
  }
  .container {
    // @media screen and (min-width: $break-medium) {
    //   @include span-columns(8);
      .inside {
        @include span-columns(8);
      }
    // }
  }
}

#preview {
  font-size: 0;
  background: #FFF;
  // padding: 40px 0;
  overflow: hidden;
  margin-bottom: 520px;
  @include drop-shadow();
  
  .container {
    max-width: $max-width;
  }
  // .container {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  // }
  a {
    position: absolute;
    color: #000;
    font-size: 18px !important;
  }
  position: relative;
}

.coming-soon {
  font-family: $mono;
  font-size: 1.8em;
  color: #AAA;
  font-weight: normal;
}

.unslider {
  position: relative;
  background: #F0F0F0;
}

.unslider-arrow {
    display: block;
    width: 32px;
    height: 32px;
    top: 50%;
    right: -50px;
    left: auto;
    margin-top: -16px;
    overflow: hidden;
    background: rgba(0,0,0,.2) no-repeat 50% 50%;
    // background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAQAAABuQZ3IAAAAi0lEQVR4AU3OISBEQQBAwS0AACS9NxqQgCZpkiYBVddFvWhAAUABAPQCAGC4g/0vTnrBqCfDIZl70J+kMUBPpEwT4FNXxBxz4F1HxHyr4EVTxBLb4EFNxEon4CJSlVNw9AcV9sC16h8osgke1P1ArgXwouVvdQq86ww/GQefusNf7kBviBlxpT8k+gL/Wox4r1d4MwAAAABJRU5ErkJggg==');
    background-size: 7px 11px;
    border-radius: 32px;
    text-indent: -999em;
    opacity: .6;
    transition: opacity .2s;
}

.unslider-arrow.next {
    left: auto;
    right: 0;
}
.unslider-arrow {
    position: absolute;
    z-index: 100;
    cursor: pointer;
}
.unslider-arrow.prev {
    left: 0;
    right: auto;
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.unslider-nav {
  margin-bottom: 20px;
}
