body.a-landing {
  .typed {
    font-family: $mono;
    font-size: 2.1em;
    padding-top: 1.5em;
    display: block;
    -webkit-font-smoothing: antialiased;
  }
  #main {
    background: none;

    .swiper-pagination-bullet {
      background: transparent;
      border: 1px solid #000;

    }
    .swiper-pagination-bullet-active {
      background: #000;
      border: 1px solid #000;
    }
  }

  #homepage-slider {
    height: 380px;

    @media screen and (min-width: $break-medium) {
      height: 500px;
    }
    .slider {
      padding: 0;
    }

    .swiper-slide.dark {
      &,* {
        color: #333;
      }
    }
    .swiper-slide {
      background-size: cover;
      &,* {
        color: #FFF;
      }
    }
    .s-container {
      display: flex;
      flex-direction: column;
    }
    .slide-content {
      flex: 1;
    }
    .bottom-link {
      padding: 0;
      line-height: 90px;
      background-position: right center;
      text-transform: none;
      -webkit-font-smoothing: auto;
    }
  }

  #microhouse-render {
    position: relative;
    height: 500px;
    background: #43442D url(https://i.imgur.com/EbFvGfM.jpg) bottom right no-repeat;
    background-size: cover;

    .inner {
      @include oc;
      height: 100%;
      display: flex;
      align-items: flex-end;
    }
    .bottom-link {
      color: #FFF;
      margin-bottom: 40px;
      text-transform: none;
      width: calc(100%-50px)
    }

  }
}

.stats {
  color: #FFF;
  font-family: $mono;
  .count {
    font-size: 4em;
  }
  &, .container {
    background: #6699CC;
  }
}

.propose {
  color: #FFF;
  &, .container {
    background: #2D2D2D;
  }
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2D2D2D;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  transition: opacity 500ms;
  z-index: 2000;
  display: none;
  text-align: center;
  &.visible {
    display: block;
  }
  video {
    max-width: 960px;
    max-height: 80vw;
    width: 100%;
  }
}


.fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
  background: linear-gradient(
    to top,
    rgba(#000, 0.15) 0%,
    rgba(#000, 0) 30%,
    rgba(#000, 0) 70%,
    rgba(#000, 0.15) 100%
  );
}

#hero-holder {
  .slider {
    padding: 0;
  }

  &.propose-slider {
    .small {
      font-size: 1em;
    }
  }
}

.hero {
  height: 500px;
  color: #FFF;
  overflow: hidden;
  position: relative;


  li {
    background-size: cover;
    background-color: #232323;
    background-position: 20% 25px;
    background-repeat: no-repeat;
    background-attachment: initial;
  }

  .container {
    position: relative !important;
    z-index: 101;
  }
  .typed {
    display: block;
    font-weight: 400;
  }

  .white-button {
    display: inline-block;
    background: #FFF;
    color: #717171;
    text-transform: uppercase;
    line-height: 50px;
    padding: 0 50px;
    font-family: $mono;
    margin: 1.7em 0;
    max-width: 100%;
    position: absolute;
    z-index: 500;

    box-shadow: 2px 4px 32px 2px rgba(#717171,0.4);
  }

  .typed, p {
    text-shadow: 2px 2px 16px rgba(#717171, 0.4);
  }

  .typed, .typed-cursor {
    font-family: $mono;
    font-size: 2.7em;
    line-height: 1.3;
  }
  p {
    font-size: 1em;
  }
}

.propose {
  p {
    -webkit-font-smoothing: antialiased;
  }
  .bottom-link {
    color: #FFF;
    display: block;
    font-family: $mono;
    padding-top: 2em;
  }
  h3 {
    font-family: $mono;
    font-size: 2em;
    color: #FFF;
  }
}

#preview {
  font-size: 0;
  background: #FFF;
  overflow: hidden;
  height: 580px;
  .container {
    max-width: $max-width;
    background: #FFF;
  }
  a {
    position: absolute;
    color: #000;
    font-size: 18px !important;
  }
  position: relative;
}

.coming-soon {
  font-family: $mono;
  font-size: 1.8em;
  color: #AAA;
  font-weight: normal;
}

