.header-preview {
  img {
    max-height: 400px;
    padding: 40px 0;
  }
}

.types {
  overflow: hidden;
  img {
    width: 60px;
    float: left;
    margin: 10px 60px 30px 20px;
  }
}

.types .type {
  background: #2D2D2D;
  border-bottom: 1px solid white;
  overflow: hidden;
  height: 180px;
  * {
    color: #FFF;
  }
}

.product {
  width: 25%;
  float: left;
  height: 200px;
  text-align: center;
  font-family: $mono;
  text-transform: uppercase;
  img {
    display: block;
  }
  &,* {
    color: #FFF;
  }
}
