.bottom-link.download-pdf {
  &, * { color: #000 }
}

#media-links {
  background: #FFF;
  padding: 80px 0 0;
  border: 1px solid transparent;
}

#partners-logos {
  background: #F0F0F0;
  padding: 80px 0 50px;
}

@mixin logo-grid($columns) {
  @include oc;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  li {
    @include fill-parent();
    list-style: none;
    margin-bottom: 30px;
    text-align: center;
    position: relative;

    @media screen and (min-width: $break-medium) {
      width: 100% / $columns;
      display: block;
      float: left;
    }

    img {
      @include vertical-center();
      max-height: 70px;
      max-width: 80%;
    }
  }
}

#partners-icons {
  @include logo-grid($columns: 5);
}

#press-logos {
  @include logo-grid($columns: 3);
}

p.image-credit {
  font-size: 0.9em;
  -webkit-font-smoothing: antialiased;
}
