.propose-a-pilot-project {
  background: #333;
  color: white;
  overflow: hidden;
  p {
    -webkit-font-smoothing: antialiased;
  }
}
.big-slider {
  position: relative;
  background-size: cover;
  background-position: center center;
  height: 600px;
  color: #FFF;
  .container {
    position: relative;
    z-index: 200;
  }
}
