.propose-a-pilot-project {
  background: #2D2D2D;
  color: white;
  overflow: hidden;
}
.big-slider {
  position: relative;
  background-size: cover;
  background-position: center center;
  height: 600px;
  color: #FFF;
  .container {
    position: relative;
    z-index: 200;
  }
}
