#revolutions {
  .img {
    height: 200px;
  }
  padding: 5em 0;
}
#join-us {
  background: #2D2D2D;
  color: #FFF;
  overflow: hidden;
  padding: 20px 0;
  h2 {
    font-family: $mono;
  }
  table {
    line-height: 1.5em;
    thead th {
      text-transform: uppercase;
      padding-bottom: 2em;
    }
    th {
      font-weight: normal;
    }
    td {
      vertical-align: top;
    }
    tbody {
      tr:last-child {
        th {
          font-weight: bold;
          padding-bottom: 1em;
        }
      }
      th {
        text-align: right;
        width: 50%;
      }
      td {
        text-align: center;
      }
    }
  }
}
.next-industrial {
  background: #FFF;
  color: #000;
  min-height: 500px;
  a.bottom-link {
    color: #000;
    text-transform: none;
  }
}
.digital-infrastructure {
  position: relative;
  h2 {
    color: #FFF;
  }
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.part {
  // text-align: center;
  flex: 1;
  // width: 20%;
  // display: inline-block;
  // float: left;
  img {
    @include vertical-align();
    width: 75%;
    max-height: 180px;
  }
  &, h3 {
    color: #5B5B5B;
  }
  h3 {
    font-size: 2em;
  }
  p {
    line-height: 1.2;
  }
}
