body.c-static.a-propose_a_pilot {
  .input label {
    margin-bottom: 1em;
  }
  .propose-toggle {
    margin-left: 1em;
  }
  #main {
    background: #2d2d2d;
  }

  .hidden-fields {
    margin-top: 50px;
  }

  .propose-slider {
    height: 500px;
    &, * {
      color: #FFF;
    }
    .propose-slide {
      @include oc;
      position: relative;
      z-index: 2;
    }
    .slide-content {
      text-shadow: 2px 2px 16px rgba(#717171, 0.4);
      @media screen and (min-width: $break-medium) {
        @include span-columns(8);
        @include shift(1);
      }
    }
    .fade {
      z-index: 1 !important;
      background-color: transparent !important;
      @include linear-gradient(
        to top,
        rgba(#000, 0.2) 0%,
        rgba(#000, 0) 40%,
        rgba(#000, 0) 60%,
        rgba(#000, 0.4) 100%
      );
    }
    .swiper-slide {
      background-position: center center;
      background-attachment: initial;
    }
  }
  .propose-a-pilot-project {

    position: relative;
    background: #2D2D2D;
    color: white;
    overflow: hidden;

    .propose-container {
      @include oc;
    }
    .propose-title {
      @include fill-parent;
    }
    .propose-description {
      margin-bottom: 50px;
    }
    @media screen and (min-width: $break-medium) {
      .propose-description {
        @include span-columns(5);
      }
      .propose-form {
        @include span-columns(5);
        @include shift(2);
        @include omega;
      }
    }
    h1 {
      font-size: 2.3em;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      margin: 40px 0 30px;
    }
    p {
      -webkit-font-smoothing: antialiased;
      font-size: 1.2em;
      line-height: 1.4;
    }
    .half .container {
      padding-top: 0 !important;
    }
    .radio label {
      display: inline;
      width: auto;
      padding: 0 2em 0 0.2em;
    }
    .input {
      vertical-align: top;
    }
  }
  .enquiry_data_role abbr {
    display: none;
  }

  .big-slider {
    position: relative;
    background-size: cover;
    background-position: center center;
    height: 600px;
    color: #FFF;
    .container {
      position: relative;
      z-index: 200;
    }
  }
  .propose-slider {
    .slide-content {
      margin-top: 3em;
    }
  }
}
