#join-us {
  background: #2D2D2D;
  color: #FFF;
  overflow: hidden;
  padding: 20px 0;
  h2 {
    font-family: $mono;
  }
  table {
    line-height: 1.5em;
    thead th {
      text-transform: uppercase;
      padding-bottom: 2em;
    }
    th {
      font-weight: normal;
    }
    td {
      vertical-align: top;
    }
    tbody {
      tr:last-child {
        th {
          font-weight: bold;
          padding-bottom: 1em;
        }
      }
      th {
        text-align: right;
        width: 50%;
      }
      td {
        text-align: center;
      }
    }
  }
}
.next-industrial {
  background: #FFF;
  color: #000;
  min-height: 500px;
  a.bottom-link {
    color: #000;
    text-transform: none;
  }
}
.digital-infrastructure {
  position: relative;
  h2 {
    color: #FFF;
  }
}
.part {
  flex: 1;
  // width: 20%;
  // display: inline-block;
  // float: left;
  img {
    width: 100px;
  }
}
