body.open-menu #side-nav {
  display: block;
}

#side-nav {
  display: none;
  background: #2D2D2D;
  position: fixed;
  // top: -20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1200;
  display: none;
  padding-top: 2em;

  .container {
    margin-top: $shortHeaderHeight;
  }

  ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  a {
    // font-family: $mono;
    font-size: 2.6em;
    line-height: 1.2;
    font-weight: 300;
    display: block;
    clear: both;
    padding: 5px;
    position: relative;
    z-index: 5000;
    color: #FFF;
  }
  a:hover {
    color: #dadada;
  }
}
