#slider ul li {
  display: none;
}
#slider ul li:first-child {
  display: block;
}


#unslider {
  position: relative;
}
.unslider-arrow {
  opacity: 0;
  top: 0;
  width: 40%;
  background-color: transparent;
  // background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAYAAADESFVDAAAAt0lEQVQokXXSIU9CURQH8B+Gt8HcmEG/CkYDzUAz2Uw2m4FKpxv5BkYCiUIwsZEMfATY0Dmd41JuOO/y3t1OuNtvZ/f8z4UpfjBOKWkq+ELK9dqG3gJKeG5CFd4DOuKxhrLsYhHgP0Y1lOElVgH+YlhDGV5hHeA3bpsmucFngNsL56dCJ9z/yi7X2IQuewwi6OOjeM9djKCHZTHZfRnmvMjooUx8VqT91LSWQ0AvbQueYNf2A1JKTpZ/5VBQ5JGhAAAAAElFTkSuQmCC');
  background-image: image-url('icons/ic_arrow_forward_black_24dp_2x.png');
  transition: opacity 0.5s;
  background-position: center right;
  // background-size: 22px 22px;
  background-size: auto auto;
  &:hover {
    opacity: 1;
  }
  height: 100%;
}

.main-slider-holder {
  .slide-content {
    @include vertical-center();
  }

}

.slider {
  @include fill-parent;
  background: #f0f0f0;
  height: 400px;
  width: 100%;
  padding: 20px;
  ul, li {
    height: 100%;
  }
  .container {
    height: 100%;
    // background: #f0f0f0;
  }
  h2 {
    font-family: $mono;
  }
  li {
    position: relative;
    background-size: cover;
    background-position: center center;
    // background-color: #F0F0F0;
  }
  img {
    height: 100%;
  }
  .slide-container {
    display: flex;
    align-items: center;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center 30px;
    background-size: auto 110px;
    img {
      height: 600px;
      margin-right: 20px;
    }
    .description {
      margin-top: 70px;
      // margin-left: 50%;
    }
  }
}

@media screen and (min-width: $break-medium) {
  .slider {
    height: 520px;
    .slide-container {
      height: 480px;
      // height: 100%;
      background-position: 5% center;
      background-size: auto 86%;
      .description {
        margin-top: 0;
        margin-left: 50%;
      }
    }
  }
}
