.products-icon {
  height: 120px;
  max-width: 100%;
  margin: 10px auto;
}
.product {
  padding: 40px;
  width: 25%;
  float: left;
  text-align: center;
  font-family: $mono;
  text-transform: uppercase;
  position: relative;
  .count {
    position: absolute;
    top: 1.3em;
    right: 1.3em;
    font-size: 1.1em;
  }
  img {
    display: block;
    max-width: 135px;
    max-height: 120px;
  }
  &,* {
    color: #FFF;
  }
}
#products-container {
  background: #333333;
}
