#types-links {

  line-height: 4em;
  &, li {
    text-align: left;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  a {
    color: #000;
  }
}
a.big-type-link {
  color: #000 !important;
}

.type-description {
  background: #FFF;
}

.type-details {
  background: #FFF;
}

.left-info {
  @include span-columns(6);
}
.right-info {
  @include span-columns(4);
}
.terms {
  h1 {
    font-size: 1.2em;
  }
  h2,h3,h4 {
    font-size: 1em;
  }
}
