body.c-things {

  .side-item {
    &.contributors, &.hosts {
      display: none;
    }
  }

  .header-preview {
    text-align: center;
    img {
      max-height: 400px;
      padding: 40px 0;
    }
  }

  .container.plus-holder {
    display: block !important;
  }

  #types-links {
    line-height: 4em;
    &, li {
      text-align: left;
      list-style: none;
      width: 100%;
      margin: 0;
      padding: 0;
      text-decoration: none;
    }
    a {
      font-family: $mono;
      color: #000;
      display: block;
      &:hover {
        color: #555;
      }
    }
  }

  a.big-type-link {
    color: #000 !important;
    margin-bottom: 2px;
    &:hover {
      opacity: 1;
    }
    h2 {
      font-weight: 400;
    }
    .flex {
      opacity: 0.85;
      // height: 100%;
    }
    &:hover .flex {
      opacity: 1;
    }
    img {
      max-height: 300px;
    }
  }

  .new-type {
    .half:first-child {
      text-align: center;
    }
    .plus {
      font-family: $roboto;
      color: #FFF;
      font-size: 150px;
      font-weight: 300;
      // font-weight: 300;
      @include vertical-center();
    }
    span {
      @include vertical-center();
      font-family: $mono;
      color: #C2C2C2;
    }
    .container {
      padding-bottom: 20px !important;
    }
  }

  .type-description {
    background: #FFF;
  }

  .type-details {
    background: #FFF;
  }

  .left-info {
    font-size: 1.1em;
    line-height: 1.4;
    @media screen and (min-width: $break-large) {
      @include span-columns(6);
    }
    h1 {
      margin: 40px 0;
      font-size: 2em;
    }
    h2 {
      font-size: 1.4em;
    }
    h3 {
      color: #000;
      font-size: 1.2em;
    }
    h1,h2,h3,h4,h5,li {
      margin-bottom: 1em
    }

  }

  .right-info {
    padding-top: 40px;
    @media screen and (min-width: $break-large) {
      padding-top: 0;
      @include span-columns(5);
      @include shift(1);
      @include omega;
    }
  }

  .terms {
    h1 {
      font-size: 1.2em;
    }
    h2,h3,h4 {
      font-size: 1em;
    }
  }

  .data {
    padding-left:10px;
  }

}
