.typed-cursor{
    margin: 0;
    padding: 0;
    opacity: 1;
    // font-size: 2em;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
