$break-small: 330px;
$break-medium: 600px;
$break-large: 850px;
$break-xlarge: 1100px;

$roboto: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$mono: "Roboto Mono", "Menlo", "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;

$shortHeaderHeight: 75px;
$largeHeaderHeight: 145px;

@mixin vertical-center($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@import "normalize";

@import "bourbon";
@import "font-awesome";

@import "grid-settings";
$visual-grid: false;

// @import "animate";
@import "neat";
@import "unslider";
@import "unslider-dots";
@import "typed";
@import "typography";
// @import "leaflet";
// @import "ripple";

// @import "materialize/components/forms/forms";
// @import"materialize/components/forms/checkboxes";
// @import"materialize/components/forms/file-input";
// @import"materialize/components/forms/forms";
// @import"materialize/components/forms/input-fields";
// @import"materialize/components/forms/radio-buttons";
// @import"materialize/components/forms/range";
// @import"materialize/components/forms/select";
// @import"materialize/components/forms/switches";
// @import "materialize";


@import "about";
@import "about_wikihouse_foundation";
@import "animations";
@import "community";
@import "donate";
@import "enquiries";
@import "forms";
@import "footer";
@import "grid-settings";
@import "_header";
@import "landing";
@import "library";
@import "main_header";
@import "technologies";
@import "partners";
@import "propose_a_pilot";
@import "prospectus";
@import "side_nav";
@import "slider";
@import "things";
@import "toggle_menu";

* {
  box-sizing: border-box;
  // -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: $shortHeaderHeight 0 0 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: $roboto;
  background: #F0F0F0;
  line-height: 1.4;
  min-width: 320px;

  font-size: 12px;
  @media screen and (min-width: $break-small) {
    font-size: 13px;
  }
  @media screen and (min-width: $break-medium) {
    font-size: 15px;
  }

  &.large {
    padding-top: $largeHeaderHeight;
  }
}

a {
  text-decoration: none;
  outline: 0;
}

.top {
  padding-top: 10px !important;
}

#main .container {
  overflow: hidden;
}

#main {
  flex: 1;
  display: flex;
  flex-direction: column;
  form input {
    padding: 5px;
  }
}

.container {
  @include outer-container;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  h3 {
    margin-top: 0;
  }
}

.half, #join-us {
  a {
    color: #FFF;
  }
}

.flex {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $break-medium) {
    flex-direction: row;
    .half:nth-child(1) .container {
      float: right;
      padding-left: 20px;
    }
    .half:nth-child(2) .container {
      float: left;
      padding-right: 20px;
    }
    .container {
      max-width: $max-width/2;
      display: flex;
    }
  }

  .half {
    flex: 1;
    .container {
      padding: 37px;
      position: relative;
      // padding: $gutter;
      // padding-bottom: 3em;
      height: 100%;
      overflow: auto;
      display: flex;
      flex-direction: column;
      .top {
        flex: 1;
      }
    }
  }

}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid #5B5B5B;
}

// img[src$=".gif"], img[src$=".png"], img[src$=".svg"] {
//  image-rendering: -moz-pixelated;         /* Firefox */
//  image-rendering: -o-pixelated;         /* Opera */
//  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
//  image-rendering: pixelated;
//  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
// }