<p class="gdpr-notice">If you submit an enquiry we will keep your details for the purposes of understanding your interests and keeping you informed about the work of WikiHouse Foundation. <%= link_to 'You can read our full Privacy Policy here', terms_path %></p>
