<div class="half news" style="background-image: url('<%= blog_post.image_url %>')">
  <%= link_to blog_post.url, class: 'wrap' do %>
  <div class="fade"></div>
  <div class="container">
    <div class="top wr">
      <h2><%= blog_post.title %></h2>
    </div>
    <%= link_to "Read blog post", blog_post.url, class: 'bottom-link' %>
  </div>
  <% end %>
</div>
