<% x = File.open("data/alastairparvin.xml") { |f| Nokogiri::XML(f) } %>
<% x2 = Nokogiri::XML(x.at_xpath('//item//description')) %>

<div class="half news" style="background: url(<%= x2.at_xpath('//img').attr('src') %>); background-size: cover">
  <div class="fade"></div>
  <div class="container">
    <%#= link_to x2.at_xpath('//a').attr('href') do %>
      <div class="top wr">
        <h2><%= x.at_xpath('//item//title').text %></h2>
      </div>
      <%= link_to "Read blog post", "https://medium.com/@AlastairParvin/scaling-the-citizen-sector-20a20dbb7a4c", class: 'bottom-link' %>
    <%# end %>
  </div>
</div>
