<%= link_to '#things_path' do %>
  <div id="microhouse-render">
    <div class="inner">
      <span class="bottom-link">Download microhouse files from the library</span>
    </div>
  </div>
<% end %>
