<%= link_to library_path("types/microhouse") do %>
  <div id="microhouse-render">
    <div class="inner">
      <span class="bottom-link">Download microhouse files from the library</span>
    </div>
  </div>
<% end %>
