<%= link_to '#things_path' do %>
  <div id="microhouse-render">
    <div class="inner">
      <span class="bottom-link">Download microhouse files from the library</span>
    </div>
  </div>
<% end %>

<!-- 
<div id="microhouse-render" class="parallax">
  <div class="parallax-group">
    <div class="parallax-layer parallax-layer-back">
    </div>
    <div class="parallax-layer parallax-layer-base">
      <div class="inner">
        <span class="bottom-link">Download microhouse files from the library</span>
      </div>
    </div>
  </div>
</div>
 -->
