<%= link_to '#things_path' do %>
  <div id="microhouse-render">
    <div class="inner">
      <%= link_to "Download microhouse files from the library", '#things_path', class: 'bottom-link' %>
    </div>
  </div>
<% end %>
