<div id="hero-holder" class="propose-slider">
  <div class="hero slider">
    <ul>
      <% 2.times do %>
      <li style="background-image: url('<%= asset_path('hero.jpg') %>')">
        <div class="fade"></div>
        <div class="container">
          <div class="slide-content">
            <span class="typed small">Pilots</span>
            <span class="typed">A-Barn</span>
            <p>Quam impedit sapiente at porro tempore, veritatis quod.</p>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
