<div id="hero-holder" class="propose-slider">
  <div class="hero slider">
    <ul>
      <li style="background-image: url('https://i.imgur.com/UmxYPqN.jpg');">
        <div class="fade"></div>
        <div class="container">
          <div class="slide-content">
            <span class="typed small">Pilots</span>
            <span class="typed">A-Barn</span>
            <p>Quam impedit sapiente at porro tempore, veritatis quod.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
