<div id="preview">
  <div class="container">
    <iframe width="100%" height="580" src="https://sketchfab.com/models/ac3263022fca412c934ea9dd7c5b5521/embed" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
    <%= link_to "Download files from the library", things_path, class: 'bottom-link' %>
  </div>
</div>
