<div id="slider">
<div class="container">
  <ul>
    <li>
      <div class="slide-container">
        <%= image_tag "slides/Asset 26.svg" %>
        <div class="description">
          <h2>Digital Design</h2>
          <p>Digital design allows every home to be designed as code; instantly customised to its site and user, whilst keeping control over cost. One size doesn’t fit all.</p>
        </div>
      </div>
    </li>

    <li>
      <div class="slide-container">
          <%= image_tag "slides/Asset 27.svg" %>
        <div class="description">
          <h2>Local Fabrication</h2>
          <p>WikiHouse components can be precision manufactured not in a large factory, but by a distributed network of local digital workshops, using standard materials.</p>
        </div>
      </div>
    </li>

    <li>
      <div class="slide-container">
        <%= image_tag "slides/Asset 28.svg" %>
        <div class="description">
          <h2>Rapid Assembly</h2>
          <p>WikiHouse components can be assembled in days – to millimetre precision – even by those who don’t have formal construction skills. A hybrid between traditional building and the flat pack.</p>
        </div>
      </div>
    </li>

    <li>
      <div class="slide-container">
        <%= image_tag "slides/Asset 29.svg" %>
        <div class="description">
          <h2>Built for Life</h2>
          <p>The result is a beautiful, low-cost, high-performance home; made using robust, low-carbon materials. Also, since you own the files, you have the power to monitor, replace parts or adapt your home in future.</p>
        </div>
      </div>
    </li>

  </ul>
</div>
</div>
