<div id="slider">
  <ul>
    <li style='background-image: url(http://www.ypu.manchester.ac.uk/system/redactor_assets/pictures/300/pic2.jpg)'>
      <div class="slide-container">
        <div class="description">
          <h2>The Young Persons University</h2>
          <p>is a website for students and teachers, providing learning tools based on the current research being undertaken at the University of Manchester</p>
          <a href="#" class="next">Next →</a>
        </div>
      </div>
    </li>
    <li style='background-image: url(http://www.ypu.manchester.ac.uk/system/post/cover_image/127/Photo_-_Joseph_O_Connor.JPG)'>
      <div class="slide-container">
        <div class="description">
          <h2>The Blog</h2>
          <p>Highlights the reasearch being done across the University, featuring articles written by our current postgraduate students. These give you an idea of the types of research pathways open to prospective students, and how to find out more information. The blog also features series such as 'Undergraduate Research' and 'Thinking Careers' and promotes public engagement activities across the university</p>
          <a href="#" class="next">Next →</a>
        </div>
      </div>
    </li>
    <li style='background-image: url(http://www.ypu.manchester.ac.uk/system/post/cover_image/124/Kirsty_Mcintyre_photo_1.png)'>
      <div class="slide-container">
        <div class="description">
          <h2>On this site you will find</h2>
          <p>Self-study challenges related to the main subject disciplines at the University: EPS (Engineering and Physical Sciences), Humanities, Life Sciences and Medical and Human Sciences. These challenges are designed to outline key concepts within a particular subject area, or to showcase current research being undertaken at the University. Included within each challenge is the option to discover more about studying related subjects at university and future career options. There are also links to additional resources related to that subject area.</p>
          <a href="#" class="next">Next →</a>
        </div>
      </div>
    </li>
  </ul>
</div>
